[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = "3.6"


[packages]

Django = "*"
djangorestframework = "*"
django-heroku = "*"
gunicorn = "*"
psycopg2-binary = "*"
django-rest-auth = "*"

[dev-packages]

coverage = "*"
django-debug-toolbar = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"